.package-details-tabs {
    margin-top: 56px;
}

.package-details-container {
    margin: 20px;
}

.package-details-list-item {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.package-details-list-item:hover {
    text-decoration: underline;
}